.contenedor {
  display: grid;
  grid-gap: 20px;
  height: 65vh;
  width: 80vw;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 200px);

  /* alinear horizontal */
  /* justify-content: center; */
  /* justify-content: start; */
  /* justify-content: end; */
  /* justify-content: stretch; */
  justify-content: space-evenly;

  /* alinear vertical */
  /* align-content: center; */
  /* align-content: start; */
  align-content: center;
  /* align-content: stretch; */

  /* alinear horizontal items */
  justify-items: center;
  /* justify-items: start; */
  /* justify-items: end; */

  /* alinear vertical items */
  /* align-items: center; */
  /* align-items: start; */
  /* align-items: end; */
  /* align-items: stretch; */
  align-items: space-around;
}
