.wrapper {
  display: grid;
  grid-template-areas: "nav" "form";
}

form {
  row-gap: 1rem;
  margin-top: 2rem;
  grid-area: form;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 800px) {
  .wrapper {
    grid-template-areas: "nav nav" "form form";
  }
}
