.contenedor {
  background-color: #accdde;
  margin: 1rem auto;
  border: 1px solid #92a7b2;
  border-radius: 1rem;
  width: 80%;
  max-width: 80rem;
  max-height: 50vh;
  overflow: auto;
}

/* separar de manera uniforme las columnas */
.contenedor > table {
  table-layout: fixed;
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
}

/* Estilo de la barra de desplazamiento */
.contenedor::-webkit-scrollbar {
  width: 12px; /* Ancho de la barra de desplazamiento */
  background-color: #f1f1f17a; /* Color de fondo de la barra de desplazamiento */
  border-radius: 1rem; /* Bordes redondeados del pulgar */
}

/* Estilo de la barra de desplazamiento del pulgar (thumb) */
.contenedor::-webkit-scrollbar-thumb {
  background-color: #002543; /* Color de la barra de desplazamiento del pulgar */
  border-radius: 1rem; /* Bordes redondeados del pulgar */
}

/* Estilo de la barra de desplazamiento del fondo (track) */
.contenedor::-webkit-scrollbar-track {
  background-color: transparent; /* Color de fondo de la barra de desplazamiento del track */
  border-radius: 1rem; /* Bordes redondeados del pulgar */
}

/* Estilo para el botón de regresar */
.contenedor > .btnHolder {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  margin: 1rem auto;
  height: 2rem;
}

/* Estilo para el botón dentro de .btnHolder */
.contenedor > .btnHolder > .btn {
  position: fixed;
  border-radius: 3rem;
}

.contenedor > table > tbody > tr > td {
  color: #002543;
  width: 4em;
  height: 4em;
  border: none;
  border-radius: 1rem;
  vertical-align: middle;
  text-align: center;
  justify-content: center;
}

td.par {
  background-color: #8fb8ff;
}

td.impar {
  background-color: #b3d1ff;
}

td.impar {
  border: #002543 1px solid;
}

.btnHolder {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

/* Modifica el ancho de las columnas de la tabla en dispositivos pequeños */
@media screen and (max-width: 1000px) {
  .contenedor > table {
    width: 100%; /* Ajusta la tabla al 100% del contenedor */
  }
}

@media screen and (max-width: 500px) {
  * {
    font-size: small;
  }
}
