main {
  background-color: rgba(137, 43, 226, 0.402);
  padding-bottom: 4em;
  outline: 10px solid rgb(12, 23, 173);
}
.subtitulos {
  /* Expandirse 10px extra */
  background: #000;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  outline: 15px ridge rgb(167, 51, 175);
}

#miNombre {
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.5);
}

#border .subtitulos {
  margin-top: -20px;
}
#border {
  outline: 5px solid rgb(255, 255, 255);
  border: 6px solid rgb(134, 0, 0);
  border-radius: 0px 0px 40px 40px;
  padding: 10px;
  margin: 10px;
  border-top: none;
  border-bottom-style: double;
  border-left-style: double;
  border-right-style: double;
}

#border .subtitulos {
  color: violet;
}

/* Color del primer hijo tipo p de border  */
#Bcontent p:first-child {
  border-left: 10px solid red;
  border-radius: 10px;
  color: red;
  padding: 30px;
  margin-right: 10em;
  height: 500px;
  width: 300px;
  /* alinear texto verticalmente */
  display: flex;
  flex-direction: column;
  justify-content: center;
  outline: 3px dotted red;
  margin-left: 50em;
}

/* Color del ultimo hijo p de border */
#Bcontent p:last-child {
  border-right: 20px solid blue;
  border-radius: 12em;
  margin-left: 25em;
  padding-right: 5em;
  width: 500px;
  color: blue;
}

.table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.table table {
  width: 30%;
  border-collapse: collapse;
  border: 1vb solid black;
}

.table thead {
  background-color: #000;
  color: white;
}

.table tbody tr:nth-child(odd) {
  height: 80px;
  background-color: #cccccc92;
}

.table tbody tr:nth-child(even) {
  background-color: #ffffff92;
}

.table tbody tr:hover {
  background-color: #00000092;
  color: white;
  border-collapse: separate;
  border: 3px solid rgb(27, 170, 43);
}

.table tbody tr td {
  padding: 10px;
  border: 1px solid black;
}

.table tfoot {
  background-color: #000;
  color: white;
}

.table tfoot tr td {
  padding: 10px;
  border: 1px solid white;
  padding: 30px;
  text-align: right;
}
