#III img {
  object-fit: cover;
  width: 200px;
  height: 200px;
}

#III #thumbnail img {
  box-sizing: border-box;
  width: 325px;
  border-radius: 90px;
  border: 10px solid rgb(122, 88, 144);
}

#III #thumbnail img:hover {
  box-shadow: 0px 0px 10px rgba(78, 176, 229, 0.687);
}

#III .avatar {
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid rgb(122, 88, 144);
  vertical-align: middle;
}

#III .rounded{
  border-radius: 30%;
}
